* {
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}

body {
  background-color: #051418;
}

body, h1, h2, h3, h4, p, ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 100px);
}

.content {
  flex: 1;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.content {
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}